:root {
  --pico-font-family: "Mona Sans", sans-serif;
  --pico-font-weight: 200;
  --pico-font-size: 1.75rem;
}

p {
    --pico-font-family: "Mona Sans", sans-serif;
    --pico-font-weight: 200;
    --pico-font-size: 1.25rem;
}

h1 {
    color: var(--pico-color-violet-600);
    --pico-font-size: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
    --pico-font-family: "Hubot Sans", sans-serif;
    --pico-font-weight: 600;
}

p>b {
    --pico-font-family: "Hubot Sans", sans-serif !important;
    --pico-font-weight: 800;
    color: var(--pico-color-pink-500);
}